-- Migration: Advanced Signature Workflow
ALTER TABLE document_signatures ALTER COLUMN signature_image_url DROP NOT NULL;
ALTER TABLE recursos ADD COLUMN visibility_mode TEXT DEFAULT 'sala_completa' CHECK (visibility_mode IN ('sala_completa', 'solo_firmantes'));

-- Drop old insert policy
DROP POLICY IF EXISTS doc_sig_insert_self ON document_signatures;

-- New INSERT policy: A user can insert their own signature, OR the owner of the backroom can insert a signature placeholder for anyone
CREATE POLICY doc_sig_insert_self_or_owner ON document_signatures
  FOR INSERT
  WITH CHECK (
    usuario_id = (SELECT id FROM usuarios WHERE auth_id = auth.uid())
    OR
    recurso_id IN (
      SELECT r.id FROM recursos r
      JOIN salas s ON r.sala_id = s.id
      JOIN backrooms b ON s.backroom_id = b.id
      WHERE b.propietario_id = (SELECT id FROM usuarios WHERE auth_id = auth.uid())
    )
  );

-- New UPDATE policy: A user can update their own signature row (to add the image)
CREATE POLICY doc_sig_update_self ON document_signatures
  FOR UPDATE
  USING (
    usuario_id = (SELECT id FROM usuarios WHERE auth_id = auth.uid())
  )
  WITH CHECK (
    usuario_id = (SELECT id FROM usuarios WHERE auth_id = auth.uid())
  );

