ALTER TABLE backroom_miembros DROP CONSTRAINT IF EXISTS backroom_miembros_permiso_check;
ALTER TABLE backroom_miembros ADD CONSTRAINT backroom_miembros_permiso_check CHECK (permiso IN ('solo_visualizar', 'contribuir', 'admin'));
